header{
    height: 60px;
    background-color: #10161e;
    display: flex;
    justify-content: space-between;
  
}
#contenedor-principal
{
    height: 100%;
    overflow-y: hidden;
    background-image: url("../../../assets/imagenes/fondoRamen.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section
{
    height: 100%;
    display: flex;
    
    flex-direction: column;
    
}

#contenedor-opciones-inicio
{
    position: absolute;
    top: 57px;
    right: 0;
    height: 200px;
    box-shadow: 0px 18px 17px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 18px 17px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 18px 17px 4px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    background-color: #10161e;
   
    border-radius: 0 0 10px 10px;
}

.titulos
{
    margin: 10px 10px;
    color: #F0CA91;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}
.btn-opciones-inicio
{
    border: none;
    color: #F0CA91;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    
}
#btn-mostrar-opciones
{
    width: 17%;
    font-size: 43px;
    color: #F0CA91;
    
}

.contenedor-animado {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.contenedor-animado.visible {
  max-height: 200px; 
  opacity: 1;
}

button
{
    background-color: transparent;
    color: #F0CA91;
}


.btn-opciones-cliente
{
    background-color: #10161e;
    height: 40%;
    width: 70%;
    border-radius: 10px;
    font-size: 25px;
}

#contenedor-opciones-cliente
{
    background-color: red;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}