
<ion-content [fullscreen]="true">

  
  
  <div id = "contenedor-principal">
    <header>
      <h1 class ="titulos">RamenGB🍜</h1>
      <button id = "btn-mostrar-opciones" (click) = "mostrarContenedores('opciones')">≋</button>
      <div id = "contenedor-opciones-inicio" class="contenedor-animado"[class.visible]="mostrarOpciones">
        <button (click)="irA('lista-usuarios')"class="btn-opciones-inicio">ADMINISTRACIÓN</button>
        <button (click)="cerrarSesion()"class="btn-opciones-inicio">CERRAR SESIÓN</button>
      </div>
    </header>
    <section>


    
        <div id = "contenedor-opciones-cliente">
          <!--
            <button class = "btn-opciones-cliente" (click)="irA('alta-mesa')">dar de alta mesa</button>
            <button class = "btn-opciones-cliente" (click)="irConQR()">ESCANEAR QR</button>
          -->
         
            <ion-button (click)="irA('alta-mesa')">dar de alta mesa</ion-button>
            <ion-button (click)="irA('home-cliente')">home cliente</ion-button>

            <ion-button (click)="irA('home-cliente')">ESCANEAR QR</ion-button>
            <ion-button (click)="irA('productos')">PRODUCTOS</ion-button>
            <ion-button (click)="irA('lista-espera')">CLIENTES EN ESPERA</ion-button>
            <ion-button (click)="irA('lista-pedidos')">PEDIDOS</ion-button>

          
        </div>
      
      

    </section>

  </div>
</ion-content>


