
<ion-content [fullscreen]="true">

  
  
  <div id = "contenedor-principal">
    <header>
      <h1 class ="titulos">RamenGB🍜</h1>
      <button id = "btn-mostrar-opciones" (click) = "mostrarContenedores('opciones')">≋</button>
      <div id = "contenedor-opciones-inicio" class="contenedor-animado"[class.visible]="mostrarOpciones">
        <button (click)="irA('lista-usuarios')"class="btn-opciones-inicio">ADMINISTRACIÓN</button>
        <button (click)="cerrarSesion()"class="btn-opciones-inicio">CERRAR SESIÓN</button>
      </div>
    </header>
    <section>
      //dar alta mesa
      <ion-button (click)="irA('alta-mesa')">dar de alta mesa</ion-button>
      <ion-button (click)="irConQR()">ESCANEAR QR</ion-button>
      <ion-button (click)="cerrarSesion()">cerrar sesion</ion-button>
    </section>

  </div>
</ion-content>


