<ion-content [fullscreen]="true">
  <div id="principal-container">
    <header>
      <h1 class="titulos">RamenGB🍜</h1>
      <button id="btn-mostrar-opciones" (click)="mostrarContenedores('opciones')">≋</button>
      <div id="contenedor-opciones-inicio" class="contenedor-animado" [class.visible]="mostrarOpciones">
        <button class="btn-opciones-inicio">Iniciar sesión</button>
        <button class="btn-opciones-inicio">Registrarse</button>
      </div>
    </header>

    <section>
      <form #form="ngForm" (ngSubmit)="guardarDuenio()">
        <h2 class="titulos">REGISTRO DUEÑO/SUPERVISOR</h2>
        <input type="text" class="inputs-form" [(ngModel)]="duenio.email" placeholder="Correo electronico" name="email" required>
        <input type="text" class="inputs-form" [(ngModel)]="duenio.nombre" placeholder="Nombre" name="nombre" required>
        <input type="text" class="inputs-form" [(ngModel)]="duenio.apellido" placeholder="Apellido" name="apellido" required>
        <input type="number" class="inputs-form" [(ngModel)]="duenio.dni" placeholder="DNI" name="dni" required>
        <input type="number" class="inputs-form" [(ngModel)]="duenio.cuit" placeholder="CUIT" name="cuit" required>
        

        <div id="custom-select-container">
          <label for="perfil-select" class="select-label">Perfil</label>
          <select id="perfil-select" class="inputs-form custom-select" name="perfil" [(ngModel)]="duenio.perfil">
            <option value="duenio">Dueño</option>
            <option value="supervisor">Supervisor</option>
          </select>
        </div>

        <button class="btn-form" type="button" (click)="tomarFoto()">Tomar foto 📸</button>

        <div class="photo-preview-container" *ngIf="duenio.imagenBase64">
          <img [src]="duenio.imagenBase64" alt="Foto tomada" class="photo-preview" />
        </div>

        <div id="contenedor-btn-form">
          <button class="btn-form btn-registrarse" type="submit"  (click)="guardarDuenio()">Guardar Dueño</button>
        </div>
        
        <div class="bottom-buttons">
          <button class="btn-form" (click)="cerrarSesion()">Cerrar Sesión</button>
          <button class="btn-form" (click)="irAhome()">Volver al Home</button>
        </div>
      </form>

      </section>
  </div>
</ion-content>