<ion-content [fullscreen]="true" *ngIf = "!qrService.scan">
  <div id = "contenedor-principal" *ngIf = "!qrService.scan">
    <header>
      <h1 class ="titulos">RamenGB🍜</h1>
      <button id = "btn-mostrar-opciones" (click) = "mostrarContenedores('opciones')">≋</button>
      <div id = "contenedor-opciones-inicio" class="contenedor-animado"[class.visible]="mostrarOpciones">
        <button (click)="cerrarSesion()"class="btn-opciones-inicio">CERRAR SESIÓN</button>
      </div>
    </header>
    
      <div *ngIf="isLoading" class="spinner-container">
        <div class="spinner"></div>
      </div>
    <section *ngIf = "!isLoading">
    
        <div id = "contenedor-opciones-cliente">
          <!--
            <button class = "btn-opciones-cliente" (click)="irA('alta-mesa')">dar de alta mesa</button>
            <button class = "btn-opciones-cliente" (click)="irConQR()">ESCANEAR QR</button>
          -->
          <h2 *ngIf = "verificarCliente">Mesa asignada: {{numeroMesa}}</h2>
          <div class = "contenedor-estadisticas">

            <button class = "btn-qr" *ngIf = "verificarCliente" (click)="scanearCodigoMesa()" ><img src = "../../../assets/imagenes/qrBOTON.png"></button>
            <button class = "btn-qr" (click) = "irA('juegos-vista')">🎲</button>
            <button class = "btn-qr" *ngIf = "verificarCliente" (click) = "irA('chat-mozo')">💬</button>
          </div>          
          
          <button class = "btn-opciones-cliente" (click)="irA('solicitar-mesa')" *ngIf = "!verificarCliente">SOLICITAR MESA</button>
          <button class = "btn-opciones-cliente" (click)="irA('lista-pedidos')" *ngIf = "verificarQr && verificarPedido">VER PEDIDO</button><!--POR QR *ngIf = "verificarQr && verificarPedido"-->
          <button class = "btn-opciones-cliente" (click)="irA('lista-pedidos')" *ngIf = "verificarQr && pedidoTerminado">PEDIR CUENTA</button><!--POR QR-->
          <button class = "btn-opciones-cliente" (click)="irA('productos')" *ngIf = "verificarQr">MENÚ</button><!--POR QR-->
          
          
          
          <button class = "btn-opciones-cliente" (click)="accederEncuesta()">ENCUESTA</button>
          <button class = "btn-opciones-cliente" (click)="verEstadisticasCliente()">ESTADÍSTICAS</button>
        
          
          

        

        </div>
    </section>
  </div>
</ion-content>