header{
    height: 60px;
    background-color: #10161e;
    display: flex;
    justify-content: space-between;
  
}

section
{
    height: 100%;
    background-image: url("../../../assets/imagenes/fondoRamen.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    
}


form
{
    margin-top: 5%;
    height: 87%;
    width: 98%;
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 1.5%;
}

.inputs-form
{
    width: 90%;
    height: 13%;
    padding-left: 5%;
    border: none;
    background-color: #10161e;
    border-radius: 5px;
    color: #F0CA91;
}

.inputs-form:focus
{
    outline: none;
}

p
{
    color: #F0CA91;
}

#principal-container
{
    height: 100%;
    overflow-y: hidden;
}


.contenedor-animado {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.contenedor-animado.visible {
  max-height: 200px; 
  opacity: 1;
}
.btn-opciones-inicio
{
    border: none;

    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    background-color: #F0CA91;
    border-radius: 10px;
    color: #10161e;
    height: 35%;
    width: 90%;
}
#btn-mostrar-opciones
{
    width: 17%;
    font-size: 43px;
    color: #F0CA91;
    
}

button
{
    background-color: transparent;
    color: #F0CA91;
}


#contenedor-opciones-inicio
{
    position: absolute;
    top: 57px;
    right: 0;
    height: 200px;
    box-shadow: 0px 18px 17px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 18px 17px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 18px 17px 4px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    background-color: #10161e;
    z-index: 9999;
    border-radius: 0 0 10px 10px;
}


.btn-form
{
    height: 10%;
    width: 70%;
    background-color: #10161e;
    font-size: 30px;
    border-radius: 10px;
}
.titulos
{
    margin: 10px 10px;

    color: #F0CA91;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}




#contenedor-seleccionar-perfil
{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    
    width: 100%;
    height: 10%;
}





#contenedor-aviso-anonimo
{
    position: absolute;
    height: 200px;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #10161e;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 18px 17px 4px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0px 18px 17px 4px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 18px 17px 4px rgba(0,0,0,0.9);
}

#opciones-aviso-anonimo
{
    position: absolute;
    bottom: 0;
    width: 100%;  
    display: flex;
    justify-content: space-evenly;  
}

.btn-anonimo-aviso
{
    height: 65px;
    border-top: 1px solid black;
    width: 100%;
}

.btn-aceptar-aviso
{
    border-right: 1px solid black;
}

p
{
    text-align: center;
    margin-top: 10%;
}

#p-registrarse-como
{
    margin: 0;
    font-size: 15px;
}

#contenedor-btn-form
{
    width: 100%;
    height: 30%;

    display: flex;
    
    align-items: center;
}

.btn-registrarse
{
    height: 70.5%;
    width: 90%;
    margin-left: 1%;
    margin-bottom: 5.5%;
}

#contenedor-btn-anonimo
{
    width: 100%;

    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.btn-anonimo
{
   
    height: 71.5%;
    width: 90%;
    margin-bottom: 9%;
    margin-left: 5%;
}

#contenedor-opciones-registro
{
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: space-evenly;
}

.btn-opciones-registro
{
    width: 30%;
    height: 95%;
    background-color: #10161e;
    font-size: 20px;
    border-radius: 10px;
}

.inputs-nombres
{
    width: 49%;
    height: 100%;
}

.contenedor-inputs
{
    width: 90%;
    height: 13%;
    display: flex;
    justify-content: space-between;
}

.ancho-completo {
  flex: 1;
  width: 100%; 
}

.btn-tomar-foto
{
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding-right: 15px;
}

.btn-qr
{
    width: 90%;
    height: 13%;
    background-color: #10161e;
    font-size: 20px;
    border-radius: 10px;
}
.btn-opciones-registro.active {
  background-color: #F0CA91; /* Cambia este color al que prefieras */
  color: #10161e;
}

.campo {
    width: 49%;
    display: flex;
    flex-direction: column;
}

.error {
    font-size: 12px;
    color: red;
    margin-top: 2px;
    margin-left: 5px;
}