#contenedor-principal
{
    height: 100%;
    background-image: url("../../../assets/imagenes/fondoRamen.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-y: hidden;
    
}



//background-color: #10161e;

.btn-opciones-inicio
{
    border: none;

    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    background-color: #F0CA91;
    border-radius: 10px;
    color: #10161e;
    height: 35%;
    width: 90%;
}
#btn-mostrar-opciones
{
    width: 17%;
    font-size: 43px;
    color: #F0CA91;
    
}

button
{
    background-color: transparent;
}

#contenedor-opciones-inicio
{
    position: absolute;
    top: 57px;
    right: 0;
    height: 200px;
    box-shadow: 0px 18px 17px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 18px 17px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 18px 17px 4px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    background-color: #10161e;
    z-index: 9999;
    border-radius: 0 0 10px 10px;
}
.contenedor-animado {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.contenedor-animado.visible {
  max-height: 200px; 
  opacity: 1;
}



header
{
    background-color: #10161e;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
}

h1
{
    text-align: center;
    color: #F0CA91;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin-left: 15%;
    
}


section
{
    background-color: #10161e;
    width: 100%;
    height: 100%;
    overflow-y: auto;


}

#contenedor-agregar-editar-productos
{
    height: 15%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.btn-crear-editar-producto
{
    background-color: #0A1A24;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.btn-editar-producto
{
    width: 100%;
    height: 20%;
    background-color: #0A1A24 ;
    border-radius: 20px;
    
}
.img-editar-agregar-producto
{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#form-agregar-productos
{
    background-color:#0A1923 ;
    height: 95%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;
    border-radius: 10px;
    border: 1px solid #F0CA91;
    overflow-y: hidden;
    padding-top: 20px;
    position: absolute;
    top: 50%;          
    left: 50%;          
    transform: translate(-50%, -50%);
}

.lbl-inputs
{
    width: 45%;
    color: #F0CA91;
}

.input-agregar-producto
{
    height: 65px;
    width: 90%;
    background-color: #12222E;
    border-radius: 10px;
    border: none;
    padding-left: 5px;
    margin: 3% 0;
}
label
{
    color: #F0CA91;
}
input
{
    outline: none;
}

.btn-agregar-producto
{
    height: 65px;
    width: 45%;
    font-size: 25px;
    background-color: #F0CA91;
    color: #0A1923;
    border-radius: 10px;
  

}

#contenedor-botones-agregar-producto
{
   
    display: flex;
    justify-content: space-evenly;
    height: 0%;
    width: 100%;
    gap: 2%;

}

.contenedor-inputs
{
    width: 95%;
    height: 20%;
    margin-bottom: 1%;
    margin-top: -3%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.inputs-cortos
{
    width:100%;
}


#contenedor-seccion-productos
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
   
    
}

.contenedor-producto
{
    background-color: #10161E;
    width: 95%;
    height: 600px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10%; 
    border: 1px solid #F0CA91;
}

p
{
    color: #F0CA91;
}

.contenedor-imagenes-producto
{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #F0CA91;
    
}

.img-producto
{
    height: 120px;
    width: 30%;
    object-fit: cover;
    border-radius: 10px;
}

.p-nombre-producto
{
    text-align: center;
    width: 100%;
    font-size: 35px;
    padding-bottom: 15px;
    margin-top: 0;
    border-bottom: 1px solid #F0CA91;
}

.p-informacion-producto
{
  
    font-size: 20px;
}

#contenedor-botones-filtrar
{
   
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
}

.btn-filtrar-productos
{
    height: 90%;
    width: 30%;
    border: none;
    background-color: #0A1924;
    border-radius: 10px;
}

.btn-tomar-foto
{
    width: 90%;
    margin-bottom: 7%;
    background-color: #F0CA91;
    color: #0A1923;
}

.btn-filtrar-productos.activo {
    border: 2px solid #F0CA91;
 
}
input
{
    color: #F0CA91;
}

#form-editar-productos
{
    background-color:#0A1923 ;
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #F0CA91;
    overflow-y: hidden;
 
    position: absolute;
    top: 50%;          
    left: 50%;
    gap: 3%;          
    transform: translate(-50%, -50%);
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px; 
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #F0CA91;
  border-top: 6px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.btn-ver-carta
{
    text-align: center;
    font-size: 26px;
    color: #10161E;
    width: 50%;
    height: 60%;
    border-radius: 20px;
    background-color: #F0CA91;
    text-align: center;
    font-family: 'Poppins', sans-serif;


}

#contenedor-confirmar-pedido
{
    background-color:#10161E;
    height: 550px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 10px;
    border: 1px solid #F0CA91;
    
 
    position: absolute;
    top: 45%;          
         
    left: 50%;          
    transform: translate(-50%, -50%);
    z-index: 9999;
}


h2
{
    font-size: 25px;
    color: #F0CA91;
    text-align: center;
    width: 90%;
   
    padding: 10px 0 0 20px;
    margin: 0;
}

.p-pedido
{
    color: #F0CA91;
    font-size: 20px;
    margin: 25px;
    
    width: 100%;
 
    
}

.contenedor-pedido
{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #F0CA91;
}

#contenedor-pedidos
{
    width: 100%;
    height: 70%;
    overflow-y: auto;
   
}

#contenedor-importe
{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

#btn-realizar-pedido
{
    width: 80%;
    height: 100%;
    background-color: #0A1A24;
    border-radius: 10px;
    font-size: 25px;
    color: #F0CA91;
    margin: 10px 0;
}

#p-importe-total
{
    border-top: 2px solid #F0CA91;
    padding: 5px;
    width: 100%;
    font-size: 20px;
    color: #F0CA91;
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #F0CA91;
    
}





.btn-cancelar-pedido
{
    background-color: transparent;
    width: 30%;
}

#contenedor-header-pedido
{
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #F0CA91;

    display: flex;
}

#btn-cerrar-pedido
{
   background-color: transparent;
    color: #F0CA91;
    font-size: 25px;
    width: 10%;
    
}



footer
{
  
    height: 20%;
    background-color: #10161E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    color: #F0CA91;
}

.p-importe-total-footer
{
    margin-left: 10%;
}

.img-eliminar-pedido
{
    height: 60px;
    width: 60px;
    border: 50%;
}