header
{
    height: 60px;
    background-color: #10161e;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #F0CA91;
}

.contenedor-section
{
  margin: 10px 0;
  height: 50%;
  background-color: #10161e;

}

#principal-container
{
  height: 100%;
  background-color: #10161e;
  overflow-y: auto;
}

.titulos
{
    margin: 10px 10px;
    color: #F0CA91;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}
#contenedor-opciones-inicio
{
    position: absolute;
    top: 57px;
    right: 0;
    height: 200px;
    box-shadow: 0px 18px 17px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 18px 17px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 18px 17px 4px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    background-color: #10161e;
    z-index: 9999;
    border-radius: 0 0 10px 10px;
}

select
{
  border-radius: 10px;
  height: 30px;
  border: none;
}

.btn-opciones-inicio
{
    border: none;

    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    background-color: #F0CA91;
    border-radius: 10px;
    color: #10161e;
    height: 35%;
    width: 90%;
}
#btn-mostrar-opciones
{
    width: 17%;
    font-size: 43px;
    color: #F0CA91;
    
}

.contenedor-animado {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.contenedor-animado.visible {
  max-height: 200px; 
  opacity: 1;
}
.contenedor-mensaje
{
  color: #F0CA91;
  text-align: center;
  font-size: 20px;
}

button
{
    background-color: transparent;
}

h2, h3
{
  margin: 0;
  margin-bottom: 5%;
  text-align: center;
  color: #F0CA91;
  font-size: 30px;
}


/* Table specific styles */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #F0CA91;
  border-radius: 10px;
}



th, td {


 text-align: center;
  margin: 10px 0;

  font-size: 17px;
  color: #F0CA91;
}

.btn-cancelar
{
  height: 55px;
  width: 100px;
  background-color: red;
  border-radius: 10px;
  font-size: 20px;
}


th {
 
  font-weight: 600;
  color: #4a5568;
  text-transform: uppercase;
}

.btn-aceptar
{
  background-color: green;
}
tr
{
  padding: 20px;
  margin: 10px 0;
}

tr:last-child td {
  border-bottom: none;
}

/* Responsive table */
@media (max-width: 768px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  td {
    border: none;

    position: relative;
    padding-left: 35%;
    text-align: center;
  }

  td:before {
    position: absolute;
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
    content: attr(data-label); /* Use data-label for mobile headers */
  }

  td:nth-of-type(1):before { content: "Cliente"; }
  td:nth-of-type(2):before { content: "Fecha y Hora"; }
  td:nth-of-type(3):before { content: "Personas"; }
  td:nth-of-type(4):before { content: "Notas"; }
  td:nth-of-type(5):before { content: "Asignar Mesa"; }
  td:nth-of-type(6):before { content: "Acciones"; }
}
