<ion-content>  
  <div id = "contenedor-principal">
    <header>
      <h1 class ="titulos">RamenGB🍜</h1>
      <button id = "btn-mostrar-opciones" (click) = "mostrarContenedores('opciones')">≋</button>
      <div id = "contenedor-opciones-inicio" class="contenedor-animado"[class.visible]="mostrarOpciones">
        <button class="btn-opciones-inicio" (click) = "irA('home')">INICIO</button>
        <button class="btn-opciones-inicio" (click) = "cerrarSesion()">CERRAR SESIÓN</button>
      </div>
    </header>
    <section>
    
    
      <!-- Mensaje si el usuario no tiene permisos para ver esta lista --> 
      <!-- Lista de usuarios si no está cargando y hay usuarios para mostrar y el usuario tiene permisos -->
    <div class="contenedor-opciones-filtro">                    
  <button class="btn-filtrar" type="button"
          [class.active]="filtroSeleccionado === 'cliente'"
          (click)="cargarUsuariosPorPerfil('cliente')">CLIENTES</button>

  <button class="btn-filtrar" type="button"
          [class.active]="filtroSeleccionado === 'empleado'"
          (click)="cargarUsuariosPorPerfil('empleado')" *ngIf = "user?.perfil == 'gerencia'">EMPLEADOS</button>

  <button class="btn-filtrar" (click)="irA('alta-mesa')">AGREGAR MESA</button>
        </div>

<!-- Lista Usuarios NO autorizados -->

  <div id = "contenedor-listas-usuarios">
        
    <div *ngIf="!isLoading" id = "loading-container">
        <h2 class = "titulos-listas">USUARIOS AUTORIZADOS</h2>
        <ion-list class="ion-list scollable-list"  *ngIf="usuariosParaNoAutorizar?.length > 0">
          <ion-item *ngFor="let usuario of usuariosParaNoAutorizar" class="fondo-custom">
            <ion-label>
              <h2>{{ usuario.nombreUsuario }} {{ usuario.apellidoUsuario }}</h2>
              <ng-container *ngIf="user?.perfil === 'gerencia'">
                <p>Correo: {{ usuario.correoUsuario ? usuario.correoUsuario : 'Anónimo' }}</p>
                <p *ngIf="usuario.tipo">Tipo: {{ usuario.tipo }}</p>
              </ng-container>
            </ion-label>
            <img [src]="usuario.imagenUsuario" class="img-usuario" />
          </ion-item>
        </ion-list>
        <h2 class = "titulos-listas">USUARIOS NO AUTORIZADOS</h2>
        
        <ion-list class="ion-list scollable-list" *ngIf="usuariosParaAutorizar?.length > 0">
          <ion-item *ngFor="let usuario of usuariosParaAutorizar" class="fondo-custom">
            <ion-label>
              <h2>{{ usuario.nombreUsuario }} {{ usuario.apellidoUsuario }}</h2>
              <ng-container *ngIf="user?.perfil === 'gerencia'">
                <p>Correo: {{ usuario.correoUsuario ? usuario.correoUsuario : 'Anónimo' }}</p>
                <p *ngIf="usuario.tipo">Tipo: {{ usuario.tipo }}</p>
              </ng-container>
            </ion-label>
            <img [src]="usuario.imagenUsuario" class="img-usuario" />
            <!-- No botón autorizar aquí -->
            <ion-button *ngIf="user?.perfil === 'gerencia' && !usuario.autorizado && usuario.correoUsuario"
                        slot="end" color="success" (click)="onAutorizarUsuario(usuario)">
              Autorizar
            </ion-button>
          </ion-item>
        </ion-list>
        
        <!-- Mensaje si no hay usuarios en ambas listas y no está cargando -->
        <div *ngIf="!isLoading && !hayUsuarios" class="ion-text-center ion-padding">
          <p>No hay usuarios para mostrar.</p>
        </div>
        
        <!-- Spinner de carga -->
      </div>
      <div *ngIf="isLoading" class="spinner-container">
        <div class="spinner"></div>
      </div>
      </div>
    
    </section>
    


  </div>

</ion-content>