.error-message 
{
        color: var(--ion-color-danger); /* Usa la variable de color de Ionic para errores */
        font-size: 0.8em;
        margin-left: 16px; /* Para alinear con los inputs */
        margin-top: 5px;
}
header
{
    height: 60px;
    background-color: #10161e;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#contenedor-principal
{
    height: 100%;
    overflow-y: hidden;
    background-image: url("../../../assets/imagenes/fondoRamen.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.titulos
{
    margin: 10px 10px;
    color: #F0CA91;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}
#contenedor-opciones-inicio
{
    position: absolute;
    top: 57px;
    right: 0;
    height: 200px;
    box-shadow: 0px 18px 17px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 18px 17px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 18px 17px 4px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    background-color: #10161e;
    z-index: 9999;
    border-radius: 0 0 10px 10px;
}

.btn-opciones-inicio
{
    border: none;

    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    background-color: #F0CA91;
    border-radius: 10px;
    color: #10161e;
    height: 35%;
    width: 90%;
}
#btn-mostrar-opciones
{
    width: 17%;
    font-size: 43px;
    color: #F0CA91;
    
}

.contenedor-animado {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.contenedor-animado.visible {
  max-height: 200px; 
  opacity: 1;
}

button
{
    background-color: transparent;
}

form
{
    height: 650px;
    margin: 10px;
    width: 95%;
    display: flex;
    gap: 1%;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    background-color: #10161E;
}





label{
    font-size: 20px;
    color: #F0CA91;
    margin-left: 10px;
}


input
{
    width: 90%;
    height: 55px;
    margin: 10px;
    border: none;
    border-bottom: 1px solid #F0CA91;
    background-color: transparent;
    color: #F0CA91;
}

.form-group
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    height: 30%;
}


select
{
    height: 55px;
    width: 90%;
    border: 1px solid #F0CA91;
    border-radius: 10px;
    color: #F0CA91;
    text-align: center;
    background-color: #10161E;
 appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input:focus
{
    outline: none;
}

.submit-button
{
    background-color: #F0CA91;
    color: #0A1924;
    width: 90%;
    height: 75px;
    font-size: 25px;
    border-radius: 10px;
}

select:focus
{
    outline: none;
}




