    .error-message {
        color: var(--ion-color-danger); /* Usa la variable de color de Ionic para errores */
        font-size: 0.8em;
        margin-left: 16px; /* Para alinear con los inputs */
        margin-top: 5px;
    }