/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";
body.scanner-active {
  --background: transparent;
  background: transparent;
  --ion-background-color: transparent;
}

.mi-toast-custom {
  --background: rgb(255,0,0, 0.9);
  --color: white;
  --height: 100px;
  border-radius: 30px;
  text-align: center;
  font-size: 20px;
}

.mi-toast-custom::part(toast) {
  border: 1px solid #F0CA91;
  border-radius: 20px;
}

.mi-toast-custom::part(button) {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
  padding: 4px 12px;
  font-weight: bold;
  height: 55px;
}

.mi-alerta {
  background-color: #10161e;
  border: 1px solid #F0CA91;
  color: #F0CA91;
  border-radius: 12px;
  padding: 20px;
}

.titulo-alerta {
  font-size: 24px;
  font-weight: bold;
  color: #F0CA91;
}

.texto-alerta {
  font-size: 18px;
  color: #F0CA91;
}

.btn-alerta {
  background-color: transparent;
  border: 1px solid #F0CA91;
  color: #F0CA91;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  box-shadow: none;
}